<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
    <h1 id="todo_name">Todo Name : </h1>
    <ul>
        <li id="todo_id">Todo ID : </li>
        <li id="pub_date">Date Published : </li>
        <li>child_list :
            <ul id="child_list"></ul>
        </li>
        <li id="priority">Priority : </li>
        <form action="/b/delete" method="post">
            <input type="hidden" id="delete_id" name="delete_id" />
            <input type="submit" value="Delete" />
            {% csrf_token %}
        </form>
    </ul>

    <script type="text/javascript" src="/static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/detail.js"></script>
</body>
</html>
