<li>
    {{ todo.todo_name  }} ({{ todo.priority }})
    <button onclick="location.href='/{{ todo.id }}'">Detail</button>
    <button onclick="location.href='/modify?id={{ todo.id }}'">Modify</button>
    <button onclick="location.href='/modify?parent_todo={{ todo.id }}'">+Child Todo</button>
    <form action="/delete">
        <input type="hidden" value="{{ todo.id }}" />
        <input type="submit" value="Delete" />
    </form>
    {% if todo.child_list %}
        {% with depth=depth|add:"1" %}
            {% for child in todo.child_list %}
                <ul>
                    {% with todo=child %}
                        {% include "todo_list_app/todo_item.html" %}
                    {% endwith %}
                </ul>
            {% endfor %}
        {% endwith %}
    {% endif %}
</li>
